<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
    <p>
      I'm currently building native 
      <a class="underline-link" href="https://apps.apple.com/us/app/catchup-news-newspapers-blogs/id943973024" target="_blank">iOS</a> and 
      <a class="underline-link" href="https://play.google.com/store/apps/details?id=ng.catchup.android" target="_blank">Android</a> apps for news aggregation platform at <a class="underline-link" href="https://catchup.ng" target="_blank">Catchup News</a> using Swift/SwiiftUI, Java and Kotlin.
      
      I recently built the 
      <a class="underline-link" href="https://apps.apple.com/app/halftime-basketball/id1486483659" target="_blank">iOS</a> and 
      <a class="underline-link" href="https://play.google.com/store/apps/details?id=co.sayshell.halftime" target="_blank">Android</a> apps as well as the front-end for 
      <a class="underline-link" href="https://clubb.app" target="_blank">Clubb</a> and 
      <a class="underline-link" href="https://thehalftime.app" target="_blank">The Halftime</a> at Halftime Sports.
    </p>

  </div>
</section>
